apiVersion: v1
kind: Service
metadata:
  name: haproxy-service
  namespace: photostudio
spec:
  selector:
    app: haproxy
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
